/*
 	========================================
	 CSS RESET
	 	http://meyerweb.com/eric/tools/css/reset/ 
  		 v2.0 | 20110126
   		License: none (public domain)
	========================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  
    ======================================================
    Colors
    ======================================================
*/
:root{
    --main-dark-color: #362417;         /* dark brown*/
    --lighter-dark-color: #92817a;      /* medium brown*/
    --main-highlight-color: #023F9E;     /* dark blue*/
    --second-highlight-color: #FF9f55;  /* black*/
    --main-light-color: #e1dcda;        /* beige*/
}


/*
    ======================================================
    Global Style
    ======================================================
*/
html{
    box-sizing: border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    color: var(--main-dark-color);
    background-color: var(--main-light-color);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    padding-top: 60px;;
}

h1, h2{
    font-family: 'Baloo Thambi 2', cursive;
}

h1{
    font-size: 7rem;
    text-align: center;
}

h2{
    color: var(--main-highlight-color);
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 20px;
}



/*
    ======================================================
    Header
    ======================================================
*/
header{
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    top:0;
}

header ul{
    float: right;    
    margin-top: 15px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.nav{
    width: 100%;
    height: 60px;
    background-color: var(--main-dark-color);
    top:0;
    position: fixed;
    z-index: 9999;
}

header li{
    display: inline-block;
    padding: 0 10px;
}

header a{    
    color: var(--lighter-dark-color);
    font-size:1.5rem;
    text-decoration: none;
    padding: 10px;
}



/*
    ======================================================
    Bio Section
    ======================================================
*/


.history-div{
    width: 50%;
}

#img-div{
    width: 40%;
}

#image{
    width: 100%;
    height: auto;
    margin-left: 30px;  
    border-radius: 10px;
}

#img-caption{
    font-size: 1rem;
    text-align: center;
}


/*
    ======================================================
    Timeline Section
    ======================================================
*/
#timeline-section{
    margin-top: 30px;
    padding: 30px;
    padding-top: 80px;
}

#timeline-section h4{
    font-size: 1.4rem;
    color: var(--second-highlight-color);
}

#timeline-section h2{
    color: var(--main-highlight-color);
}

/* Vertical line */
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* Add vertical line */
.timeline::after{
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left:50%;
    margin-left: -3px;
}

/* Container around content */
.container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* Circles in the timeline */
.container::after{
    content: "";
    position: absolute;
    width:  25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #FF9f55;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}

/* Place container to the left */
.left{
    left: 0;
}

/* Place container to the right */
.right{
    left:50%;
}

/* Add arrow to the container on the left */
.left::before{
    content: "";
    height: 0;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-dark-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-dark-color);
}

/* Add arrow ro the container on the right */

.right::before{
    content: "";
    height: 0;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--main-dark-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-dark-color) transparent transparent;
}

.right::after{
    left:-13px;
}


.content{
    padding: 20px 30px;
    background-color: var(--main-dark-color);
    position: relative;
    border-radius: 6px;
    color: var(--main-light-color)
}


/*
    ======================================================
    Quote Section
    ======================================================
*/
#quotes-section{
    max-width: 800px;
    width: 80%;
    margin: 30px;
    padding: 35px 0;
}

#quotes-section ul{
    margin: 0 auto;
}

#quotes-section li{
    list-style: circle;
    padding-bottom: 15px;    
}




/*
    ======================================================
    Responsive
    ======================================================
*/
@media screen and (min-width:800px){
    #biography-section{
        display: flex;
        margin: 0 35px;
        padding-top: 80px;
    }

}

@media screen and (max-width:799px){
    h1{
        font-size: 5rem;
        text-align: left;
    }
    
    h2{
        font-size: 2rem;
    }
    

}